.ControlParamsProps {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  text-align: right;
}

@media (prefers-reduced-motion: no-preference) {
}

.ControlParamsProps-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ControlParamsProps-link {
  color: #61dafb;
}