.ControlPartsPart {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.ControlPartsPart-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ControlPartsPart-link {
  color: #61dafb;
}